/* Sidebar.css */

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2C3E50; /* Dark background color */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.sidebar-title {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #ecf0f1; /* Light text color */
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-item {
  margin-bottom: 20px;
}

.sidebar-link {
  text-decoration: none;
  font-size: 18px;
  color: #bdc3c7; /* Light gray for the links */
  padding: 10px 15px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-link:hover {
  background-color: #34495e; /* Slightly darker background on hover */
  color: white;
}

.active-link {
  background-color: #2980b9; /* Highlight for active link */
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar-item {
    margin-bottom: 0;
  }
}
